<html>
  <body>
    <h1>Hello, username!</h1>
    <p>Welcome to our test site. To complete registration follow the link below</p>
    <a href="http://hexlet.test/user/confirm?confirmation_token=el4tluqCGOiQrD_kRvwsIw">Complete registration</a>
  </body>
</html>
